html, body, div, ul, li, a, img {
    margin: 0;
    padding: 0;
}

.select-list {
    font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    font-size: 16px;
}

    /* Lists */
    .select-list > ul {
        border-radius: 5px;
        width: 150px;
        height: 200px;
        display: inline-block;
        list-style-type: none;
        overflow-y: scroll;
        background: linear-gradient(to bottom, #836AFF, #fff);
    }

        .select-list > ul > li {
            padding: 5px 15px;
        }

            .select-list > ul > li:first-letter {
                text-decoration: underline;
            }

            .select-list > ul > li.selected {
                background: #6C4EFF;
            }

            .select-list > ul > li:not(:last-child) {
                border-bottom: 1px solid #000;
            }

        .select-list > ul:first-of-type {
            margin: 25px auto auto 25px;
        }

/* Buttons */
a {
    text-decoration: none;
    position: relative;
    top: -80px;
}
