body {
    padding: 0 15px;
    color: #000;
}

    /*Title*/
    body > h1, h2 {
        text-align: center;
    }

    /*Fileds*/
    body input {
        float: right;
        outline: none;
    }

        body input:not([type=checkbox]) {
            border-radius: 15px;
            padding: 1px 10px;
            width: 170px;
            color: #2b2b2b;
        }

    /*Variables*/
    body ul li {
        color: #666;
    }

        /*Types*/
        body ul li span:last-child {
            margin-left: 10px;
        }

    /*Demo*/
    body div:last-of-type {
        display: inline-block;
        width: 410px;
        background: #cebbbb;
        border: 1px solid #000;
        border-radius: 15px;
        padding: 10px;
        font-size: 14px;
    }
