body {
    margin: 0;
    padding: 0 0 0 15px;
    background: #F9F9F9;
    color: #333;
    cursor: default;
}

    body > header {
        text-align: center;
    }

        body > header > h1 {
            text-shadow: 0 0 3px #3BB9FF;
            font-style: italic;
            font-family: 'Lucida Sans Unicode';
        }

    body section {
        margin-bottom: 50px;
    }

        body section article {
            margin: 30px 0 0 0;
        }

            body section article header {
                margin-left: 8%;
                width: 85%;
            }

                body section article header h2 {
                    font-weight: normal;
                    font-size: 100%;
                }

            body section article fieldset {
                margin: 10px auto;
                width: 80%;
                border: 2px inset;
                border-radius: 10px;
                background: #F6F6F6;
            }

                body section article fieldset legend {
                    color: #777;
                    margin-left: 20px;
                    padding: 0 15px;
                    font-style: italic;
                    font-size: 70%;
                    font-weight: bold;
                    border: 2px outset;
                    border-radius: 10px;
                    background: #F5F5F5;
                }

                body section article fieldset iframe {
                    display: block;
                    width: 100%;
                    border: none;
                    outline: none;
                    overflow-x: hidden;
                }

                body section article fieldset > div {
                    text-align: left;
                    margin: auto auto;
                    width: 550px;
                }

                    body section article fieldset > div input {
                        padding: 3px 8px;
                        outline: none;
                        font-size: 60%;
                        color: #444;
                    }

                        body section article fieldset > div input:not([type=button]) {
                            border-radius: 10px;
                            width: 35px;
                        }

                        body section article fieldset > div input[type=button] {
                            border-radius: 15px;
                            cursor: pointer;
                        }

                    body section article fieldset > div div label {
                        color: #666;
                        margin-right: 5px;
                        font-size: 80%;
                    }

                    body section article fieldset > div div:last-of-type {
                        margin-top: 10px;
                        text-align: center;
                        font-size: 80%;
                    }

                body section article fieldset .center {
                    text-align: center;
                    margin: auto;
                    display: block;
                }

article:first-of-type label + input {
    margin: auto 5px auto 15px;
}

span {
    color: #888;
    margin-left: 20px;
}

.generate {
    width: 120px;
}

select {
    outline: none;
    width: 40px !important;
}

.blue {
    margin: 0;
    color: cadetblue;
}

.red {
    margin: 0;
    color: indianred;
}

article:nth-of-type(4) fieldset:first-of-type iframe {
    height: 110px;
}

#result31, #result41 {
    margin-top: 10px;
    text-align: center;
    font-size: 80%;
}

#input4 {
    margin: 10px auto;
    width: 120px;
    text-align: left;
}

label {
    color: #666;
    font-size: 80%;
}

.name {
    width: 60px !important;
}

.age {
    width: 17px !important;
}

#input6 {
    width: 90px !important;
    color: #555;
    font-size: 70%;
    padding: 2px 5px;
}
