html, body, div, ul, li, a, div, table, thead, tbody, tr, th, td {
    margin: 0;
    padding: 0;
}

    body > div {
        font-family: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
        font-size: 16px;
    }

#wrapper {
    position: relative;
    border-radius: 5px;
    border: 1px solid black;
    margin: 15px;
    width: 340px;
    height: 230px;
}

    #wrapper > ul > li {
        display: inline-block;
    }

.tab-content {
    position: absolute;
    float: left;
    left: 0;
    margin: 15px 20px;
    display: none;
}

.tab-strip > li:not(:last-child):not(.current) .tab-btn, .tab-strip > li:not(:last-child).current {
    border-right: 1px solid black;
}

.current .tab-btn {
    font-weight: bold;
    border: none;
    border-radius: inherit;
    background: none;
    padding: 4px 3px;
    width: 81px;
}

.current .tab-content {
    display: inline-block;
}

#wrapper > ul {
    list-style-type: none;
}

a {
    font-size: 140%;
    color: black;
    text-decoration: none;
}

.tab-btn {
    border-bottom: 1px solid black;
    width: 79px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    padding: 5px 2px;
    background: linear-gradient(to bottom, #ebebeb, #ababab);
}

li:not(.current):hover .tab-btn {
    background: #eee;
}


/* lists */
div.tab-content > ul {
    list-style-type: disc;
}

    div.tab-content > ul ul {
        list-style-type: lower-alpha;
        margin-left: 25px;
    }

/* table */
table thead {
    text-align: center;
    background: linear-gradient(to bottom, #afafaf, #dadada 66%, #eee);
}

table tbody {
    background: #eee;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0px;
}

    table td, table th {
        padding: 5px;
    }

table {
    width: 304px;
}
