html, body, div, header, nav, ul, li, a {
    margin: 0;
    padding: 0;
}

    /* Main menu */
    nav > ul {
        font-family: Helvetica, Arial, 'Liberation Sans', Freesans, 'DejaVu Sans';
        font-size: 16px;
        list-style-type: none;
        background: linear-gradient(to bottom, #023047, #77D0FE);
        padding: 50px 0 0 50px;
        width: 910px;
        height: 150px;
    }

        nav > ul li {
            display: inline-block;
            border-radius: 15px;
            padding: 5px 10px;
            margin-right: 5px;
        }

            nav > ul li.selected {
                background: linear-gradient(to bottom, #163E52, #27556C);
            }

            nav > ul li:not(.selected):hover, nav > ul li ul > li:hover {
                background: rgba(15,78,111,0.7);
            }

        /* Sub menu */
        nav > ul > li > ul {
            display: none;
            position: absolute;
            left: 50px;
        }

        nav > ul li.selected > ul, nav > ul li:hover > ul {
            display: inline-block;
            position: absolute;
        }

        /* Drop down menu */
        nav > ul li ul li ul {
            display: none;
            background: linear-gradient(to bottom, #FFF, #77D1FF 75%);
            padding: 15px 23px 15px 29px;
            border-radius: 15px;
            margin-left: -10px;
        }

            nav > ul li ul li ul li {
                padding: 5px 5px;
                display: block;
                border-radius: 0;
            }

                nav > ul li ul li ul li:hover {
                    background: linear-gradient(to bottom, #47819F, #3D7E9F);
                    border-radius: 15px;
                }

                nav > ul li ul li ul li:not(:last-child) {
                    border-bottom: 1px solid #000;
                }

    /* Links */
    nav ul li a {
        text-decoration: none;
        color: #000;
        font-size: 200%;
    }
