html, body, div, h1, img, p {
    margin: 0;
    padding: 0;
}

/* Frame */
#wrapper > div {
    font-family: Constantina, Georgia, 'Nimbus Roman No9 L', serif;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 25px auto auto 25px;
    background: linear-gradient(to bottom, #DE28FF 15%, #F9DAFF 75%);
    padding: 15px 35px 31px 35px;
    font-size: 90%;
    width: 863px;
}

/* Arrows */
div > img.left-arrow {
    float: left;
    margin: 34px 0 0 -35px;
}

div > img.right-arrow {
    float: right;
    margin: 34px -35px 0 0;
}

/* Paragraphs */
div > p.postedby {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;
    margin: 5px 0 21px 15px;
    padding: 5px 15px;
    font-size: 110%;
}

div > p.info {
    font-size: 110%;
    text-align: justify;
}
