html, body, header, h1, nav, div, ul, li, a, article, p {
    margin: 0;
    padding: 0;
}

#wrapper {
    color: #575E5B;
    margin-left: 4px;
    width: 960px;
    font-size: 16px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

    /*Header*/
    #wrapper header {
        margin: auto auto auto auto;
        padding: 15px 15px;
        background: url(images/header-bg.png);
    }

        #wrapper header h1 {
            text-transform: uppercase;
            font-size: 100%;
            display: inline-block;
        }

        #wrapper header nav {
            list-style-type: none;
            float: right;
        }

            #wrapper header nav ul {
                display: inline-block;
            }

                #wrapper header nav ul li {
                    display: inline-block;
                    font-size: 90%;
                    margin: auto 8px;
                }

/*Search bar*/
#searchBar {
    background: #000;
    padding: 8px;
}

    #searchBar #archives {
        color: #C6C6C6;
        display: inline-block;
    }

    #searchBar a {
        text-decoration: none;
        font-size: 90%;
        color: #C6C6C6;
    }

    #searchBar #search {
        float: right;
    }

/*Content*/
#content h1 {
    padding: 16px 0 2px 0;
    font-size: 150%;
}

#content article p {
    font-size: 90%;
    margin-top: 14px;
}
