body {
    background: #f4f2f2;
    text-align: center;
}

table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

a:link {
    color: gray;
    text-decoration: none;
    font-size: 2em;
    padding: 2px;
}

.sliders div {
    margin-bottom: 1em;
}

label {
    color: gray;
}

.notebooks {
    background: white;
    color: gray;
    border: 4px double lightgray;
}
