body {
    text-align: center;
}

#task1, #task3 {
    background: black;
}

#task2 {
    border: 1px solid black;
}

#container {
    margin: auto;
}

    #container > p {
        position: absolute;
        display: inline-block;
        margin-left: 10px;
        color: white;
        font-family: Consolas;
    }

    #container > img {
        position: absolute;
        z-index: -1;
    }
