body {
    text-align: center;
}

    body header {
        width: 600px;
        margin: auto auto;
    }

        body header a {
            color: rgb(30, 180, 240);
            font-size: 150%;
            font-weight: bold;
            margin: 0 0.1em;
        }

    body hr {
        width: 660px;
        height: 1px;
    }

    body section {
        font-family: Georgia;
        cursor: default;
    }

        body section:first-of-type {
            background: white;
            width: 490px;
            margin: auto auto;
            padding: 0.2em 0.2em 0.6em 0.2em;
            border: 1px solid black;
            display: inline-block;
        }

            body section:first-of-type fieldset {
                display: inline-block;
                width: 200px;
                padding-right: 20px;
                margin: 0.2em;
            }

                body section:first-of-type fieldset img {
                    width: 110px;
                    float: left;
                }

                body section:first-of-type fieldset p:last-of-type {
                    float: left;
                    margin: 0 0 0 20px;
                }

                body section:first-of-type fieldset p:nth-last-of-type(2) {
                    float: right;
                    margin: 0 -10px 0 0;
                }

        body section:last-of-type {
            margin: 0 auto 0;
            display: inline-block;
            vertical-align: top;
            padding: 70px 0 0 10px;
        }

            body section:last-of-type label {
                text-align: left;
                font-size: 110%;
                display: block;
                margin: 1.5em 0 0.7em;
            }
