@mixin clear() {
	margin: 0;
	padding: 0;
	border: 0;
}

@mixin clearfix() {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

@mixin padding($t, $r, $b, $l) {
    padding: $t $r $b $l;
}

@mixin margin($t, $r, $b, $l) {
	margin: $t $r $b $l;
}

@mixin background($color, $opacity) {
	background-color: $color;
	opacity: $opacity;
}

@mixin gradient($c1, $c2, $c3, $p1, $p2) {
	background: -moz-linear-gradient(top, $c1 0%, $c2 $p1, $c3 $p2, $c3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $c1), color-stop($p1, $c2), color-stop($p2, $c3), color-stop(100%, $c3));
	background: -webkit-linear-gradient(top, $c1 0%, $c2 $p1, $c3 $p2, $c3 100%);
	background: -o-linear-gradient(top, $c1 0%, $c2 $p1, $c3 $p2, $c3 100%);
	background: -ms-linear-gradient(top, $c1 0%, $c2 $p1, $c3 $p2, $c3 100%);
	background: linear-gradient(to bottom, $c1 0%, $c2 $p1, $c3 $p2, $c3 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@mixin font($c, $w, $s) {
	color: $c;
	font-weight: $w;
	font-style: $s;
}