body {
    background: #f4f2f2;
}

a, h2, h3 {
    color: #00688B;
}

#main {
    border-top: 3px groove #00688B;
}

fieldset, ul, input {
    color: gray;
}

    input:not([type=submit]):focus {
        background: #a3ff56;
    }
