#frame {
    background: rgb(241, 241, 241);
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 20px;
    width: 1200px;
    margin: auto;
    border: 1px solid black;
}

    #frame:after {
        content: "";
        display: block;
        clear: both;
    }

#navigation {
    color: red;
    float: left;
    width: 200px;
    height: 100%;
}

    #navigation ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #navigation h1 {
        font-size: 20px;
        line-height: 25px;
        background: url(home.png) no-repeat 0 -6px;
        background-size: 25px 30px;
        padding-left: 27px;
        margin-top: 1em;
    }

    #navigation h2 {
        font-size: 20px;
        margin: 1em 0 0 0;
    }

    #navigation a {
        text-decoration: none;
        color: black;
    }

        #navigation a:hover {
            text-decoration: underline;
            color: red;
        }

    #navigation > h2 a {
        color: rgb(149, 11, 9);
    }

#aside {
    float: right;
    width: 200px;
    height: 100%;
    padding: 0;
    padding-top: 0.4em;
    text-align: center;
    font-size: 20px;
}

    #aside div {
        background: white;
        border: 1px solid rgb(146, 146, 146);
        margin-bottom: 4px;
        padding-bottom: 0.5em;
    }

    #aside input[type=text] {
        margin-top: 0.3em;
        margin-left: 0.1em;
        width: 120px;
    }

    #aside input[type=button] {
        margin-right: 0.3em;
        width: 24px;
        border-radius: 0.4em;
    }

    #aside h2 {
        margin: 0;
        font-size: 95%;
    }

    #aside span {
        cursor: default;
        background: rgb(155,215,247);
        background: -moz-linear-gradient(left, rgba(155,215,247,1) 0%, rgba(212,240,254,1) 5%, rgba(212,240,254,1) 95%, rgba(155,215,247,1) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(155,215,247,1)), color-stop(5%,rgba(212,240,254,1)), color-stop(95%,rgba(212,240,254,1)), color-stop(100%,rgba(155,215,247,1)));
        background: -webkit-linear-gradient(left, rgba(155,215,247,1) 0%,rgba(212,240,254,1) 5%,rgba(212,240,254,1) 95%,rgba(155,215,247,1) 100%);
        background: -o-linear-gradient(left, rgba(155,215,247,1) 0%,rgba(212,240,254,1) 5%,rgba(212,240,254,1) 95%,rgba(155,215,247,1) 100%);
        background: -ms-linear-gradient(left, rgba(155,215,247,1) 0%,rgba(212,240,254,1) 5%,rgba(212,240,254,1) 95%,rgba(155,215,247,1) 100%);
        background: linear-gradient(to right, rgba(155,215,247,1) 0%,rgba(212,240,254,1) 5%,rgba(212,240,254,1) 95%,rgba(155,215,247,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bd7f7', endColorstr='#9bd7f7',GradientType=1 );
        display: block;
        padding-top: 0.3em;
        font-size: 22px;
        font-weight: bolder;
        height: 33px;
        color: rgb(44, 201, 254);
        margin: 0.2em 1.2em 0 1.2em;
        border: 2px solid rgb(80, 140, 146);
        box-shadow: 0 0 5px white inset;
    }

    #aside a, #sections a {
        color: rgb(144, 11, 9);
        display: block;
    }

        #aside a:first-of-type {
            padding-top: 0.3em;
        }

        #aside a:hover, #sections a:hover {
            color: red;
        }

#sections {
    background: white;
    float: right;
    width: 770px;
    height: 100%;
    margin: 0.3em;
    border: 1px solid rgb(146, 146, 146);
    padding: 0.4em;
    font-size: 91%;
}

    #sections .image {
        position: absolute;
        width: 110px;
        height: 110px;
        font-style: italic;
        cursor: default;
    }

        #sections .image#open {
            margin-top: 20px;
            margin-left: 10px;
            font-size: 73px;
            color: rgb(106, 101, 94);
            opacity: 0.7;
        }

        #sections .image#dots {
            margin-top: -50px;
            margin-left: 59px;
            font-size: 105px;
            color: rgb(144, 129, 88);
        }

        #sections .image#commas {
            margin-top: -10px;
            margin-left: 45px;
            font-size: 105px;
            color: rgb(144, 129, 88);
            opacity: 0.5;
        }

        #sections .image#css {
            font-size: 65px;
            margin-top: -12px;
            margin-left: 6px;
            color: rgb(67, 76, 130);
            font-weight: bold;
            font-family: 'Segoe Script';
            text-shadow: 3px 3px 1px #ccc;
        }

        #sections .image#close {
            margin-top: -8px;
            margin-left: 138px;
            font-size: 73px;
            color: rgb(106, 101, 94);
        }

    #sections .left {
        margin-left: 175px;
    }

    #sections hr {
        height: 50%;
    }

    #sections p {
        font-family: Verdana;
    }

    #sections h2, #aside h2 {
        padding-left: 0.3em;
        font-size: 23px;
        color: white;
        background: rgb(128, 128, 128);
    }

    #sections button {
        background: white;
        border: 1px solid black;
        font-size: 19px;
        padding: 0.1em;
        width: 160px;
        cursor: pointer;
    }

        #sections button:first-of-type:before {
            content: "\25C0";
            position: absolute;
            margin-left: -35px;
        }

        #sections button:last-of-type:after {
            content: "\25B6";
            position: absolute;
            margin-left: 35px;
        }

        #sections button:hover {
            background: rgb(241, 241, 241);
        }

    #sections:after {
        content: "_";
        line-height: 30px;
        opacity: 0;
    }
