body {
    background: #f4f2f2;
}

table {
    margin: auto;
    background: #1B2122;
    border-collapse: collapse;
    box-shadow: 0 0 10px #1B2122;
}

    table tbody tr:last-child td:first-child button {
        width: 54px;
    }

    table td, th {
        border: 2px solid #A5E8F7;
    }

    table input, button {
        font-weight: bold;
        color: #A5E8F7;
        background: #1B2122;
        border: none;
    }

    table input {
        width: 100px;
        padding-right: 0.3em;
        text-align: right;
    }

    table button {
        width: 25px;
        height: 25px;
    }
