body {
    background: #f4f2f2;
}

#title {
    text-align: center;
    font-size: 150%;
    padding: 0;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid gray;
    background: white;
}

.text {
    width: 270px;
}

img {
    width: 170px;
}

td {
    padding: 0.5em;
}

em {
    font-weight: bold;
}

p {
    text-align: center;
}

.width {
    width: 28px;
}

#table2, #table2 td {
    border: 1px solid black;
    text-align: center;
    font-weight: bolder;
}
