body {
    background: #f4f2f2;
}

th {
    text-align: center;
    font-size: 150%;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid gray;
    background: white;
}

#text {
    width: 270px;
}

img {
    width: 170px;
}

td {
    padding: 0.5em;
}

em {
    font-weight: bold;
}

p {
    text-align: center;
}

#table2 td {
    border: 1px solid black;
    font-weight: bolder;
}

.width {
    width: 28px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.bottom {
    vertical-align: bottom;
}
