html {
    background-color: rgb(204,236,255);
    color: rgb(33, 53, 130);
}

#friends {
    font-style: italic;
}

img {
    border: 1px solid black;
    width: 120px;
}

div p {
    margin: 0.3em 0;
}
