body {
    text-align: center;
}

    body > div, form > table, hr {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    font-family: Georgia;
}

a {
    color: deepskyblue;
    font-size: 150%;
    font-weight: bold;
    margin: 0 0.2em;
}


.sliders {
    width: 170px;
}

    .sliders div {
        margin-bottom: 1em;
    }

td, output, label, .notebooks {
    color: gray;
}

.notebooks {
    background: white;
    border: 2px solid #818181;
}
