body {
    margin: 0;
    padding: 0 0 0 15px;
    background: #F9F9F9;
    color: #333;
    cursor: default;
}

    body > header {
        text-align: center;
    }

        body > header > h1 {
            text-shadow: 0 0 3px #3BB9FF;
            font-style: italic;
            font-family: 'Lucida Sans Unicode';
        }

    body section {
        margin-bottom: 50px;
    }

        body section article {
            margin: 30px 0 0 0;
        }

            body section article header {
                margin-left: 8%;
                width: 85%;
            }

                body section article header h2 {
                    font-weight: normal;
                    font-size: 100%;
                }

            body section article fieldset {
                margin: 10px auto;
                width: 80%;
                border: 2px inset;
                border-radius: 10px;
                background: #F6F6F6;
            }

                body section article fieldset legend {
                    color: #777;
                    margin-left: 20px;
                    padding: 0 15px;
                    font-style: italic;
                    font-size: 70%;
                    font-weight: bold;
                    border: 2px outset;
                    border-radius: 10px;
                    background: #F5F5F5;
                }

                body section article fieldset iframe {
                    display: block;
                    width: 100%;
                    border: none;
                    outline: none;
                    overflow-x: hidden;
                }

                body section article fieldset > div {
                    text-align: left;
                    margin: auto auto;
                    width: 550px;
                }

                    body section article fieldset > div input {
                        padding: 3px 8px;
                        outline: none;
                        font-size: 60%;
                        color: #444;
                    }

                        body section article fieldset > div input:not([type=button]) {
                            border-radius: 10px;
                            width: 500px;
                            display: block;
                        }

                    body section article fieldset > div textarea {
                        padding: 3px 8px;
                        border-radius: 6px;
                        color: #444;
                        width: 500px;
                        height: 50px;
                        margin: auto;
                        display: block;
                        outline: none;
                        resize: none;
                    }

                    body section article fieldset > div input[type=button] {
                        border-radius: 15px;
                        cursor: pointer;
                    }

                    body section article fieldset > div > div {
                        margin-top: 10px;
                        text-align: center;
                        font-size: 80%;
                    }

article:nth-of-type(1) fieldset:first-of-type iframe, article:nth-of-type(5) fieldset:first-of-type iframe {
    height: 110px;
    overflow-y: auto;
}

article:nth-of-type(3) fieldset:first-of-type iframe, article:nth-of-type(6) fieldset:first-of-type iframe, article:nth-of-type(8) fieldset:first-of-type iframe, article:nth-of-type(9) fieldset:first-of-type iframe {
    height: 135px;
    overflow-y: auto;
}

#input32 {
    width: 80px;
    margin: 15px auto;
}

#input7, #input10 {
    width: 280px;
    margin: 15px auto;
}

#result5 {
    overflow: auto;
}

#result7, #result9 {
    text-align: left;
    margin: 10px auto;
    width: 250px;
}

#input12 {
    text-align: left;
    margin: 10px auto;
    width: 360px;
    display: inline-block;
}

.short {
    width: 40px !important;
    margin: 0;
    display: inline-block !important;
}

div.inline {
    display: inline-block;
    margin-right: 20px;
    text-align: right;
}

label {
    color: #666;
    margin-right: 5px;
    font-size: 80%;
}

.box {
    text-align: center;
    margin: 0;
    font-size: 120%;
}

#list-item {
    display: none;
}

.name {
    display: inline-block !important;
    width: 80px !important;
    margin: 5px;
}

.age {
    display: inline-block !important;
    width: 30px !important;
    margin: auto 5px;
}

#result121 {
    margin: auto;
    width: 200px;
    text-align: left;
}

.red {
    margin: 0;
    color: indianred;
}

#result122 {
    margin: 0;
}
