@import '_variables.scss';
@import '_mixins.scss';

html {
	height: 100%;
}

.clearfix, body header div#header-container, body header nav, body header nav ul, body header nav ul li ul.sub-nav-list, body section, body aside {
	zoom: 1;
}

    .clearfix:after, body header div#header-container:after, body header nav:after, body header nav ul:after, body header nav ul li ul.sub-nav-list:after, body section:after, body aside:after, .clearfix:before, body header div#header-container:before, body header nav:before, body header nav ul:before, body header nav ul li ul.sub-nav-list:before, body section:before, body aside:before {
		@include clearfix();
    }

	.clearfix:after, body header div#header-container:after, body header nav:after, body header nav ul:after, body header nav ul li ul.sub-nav-list:after, body section:after, body aside:after {
		clear: both;
    }

header, section, footer, article, h1, h2, h3, h4, h5, h6, input, button, label, p, fieldset, nav, ul, li, a, span, strong, em {
	@include clear();
}

div, h1, h3, h4, h5, h6, header, footer, body, section, nav, article, aside {
	display: block;
}

body {
	@include clear();
	background: rgb(212, 146, 255);
	@include gradient(rgba(212, 146, 255, 1), rgba(167, 66, 244, 1), rgba(146, 21, 242, 1), 17%, 26%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d492ff', endColorstr='#9215f2',GradientType=0 );
	font: 14px normal Arial;
	color: white;
	header {
		@include padding($e, $c, $a, $c);
		div#header-container div#logo-container {
			float: left;
			position: relative;
		}
		#logo-container img {
			border: hidden;
		}
		div#header-container div#reg-form-container {
			float: right;
			position: relative;
			right: 5%;
			top: $p2;
			div {
				text-align: right;
				label {
					width: 50px;
					margin: $a;
				}
				input {
					width: 130px;
					border: 1px solid #603382;
					border-radius: $b;
					@include background(rgb(179, 94, 243), 1);
					@include padding(2px, $a, 2px, $a);
					margin: $a;
				}
			}
			button {
				@include margin(auto, auto, auto, auto);
				font-weight: bold;
				border: 2px solid #603382;
				border-style: outset;
				border-radius: $b;
				@include padding($a, 8px, $a, 8px);
				color: white;
				background: transparent;
				&:hover {
					background-color: #8949b9;
					border-style: inset;
				}
			}
		}
		nav {
			display: inline-block;
			width: $p3;
			@include margin($d, $d, $d, $d);
			padding: 12px;
			border: 2px solid #000;
			border-radius: $c;
			ul {
				&.nav-list {
					list-style-type: none;
				}
				li {
					float: left;
					margin: 0;
					a {
						text-decoration: none;
						@include padding(0, $b, 0, $b);
						color: white;
						font: 1.4em normal Arial;
						&.selected {
							font-weight: bold;
						}
					}
					&:hover > a {
						text-decoration: underline;
						color: #a8a8a8;
						+ ul {
							display: block;
						}
					}
					ul {
						&.sub-nav-list {
							position: absolute;
							display: none;
							@include background(rgb(179, 94, 243), 0.9);
							border-radius: $a;
						}
						li {
							float: none;
							@include margin(0, $c, 0, $c);
							@include padding($b, 0, $b, 0);
							border-bottom: 1px solid black;
							&:last-of-type {
								border-bottom: none;
							}
							> a {
								font-size: 1.2em;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
	section {
		width: $p3;
		float: left;
		color: black;
		article {
			color: white;
			margin: $d;
			padding: $d;
			border: 1px solid black;
			border-radius: $c;
			header {
				background: none;
				padding: $a;
				h1 {
					font-size: 1.4em;
					padding: 0;
				}
			}
			footer {
				padding: $a;
				p {
					font-size: 16px;
					text-align: right;
					font-weight: normal;
					time {
						font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
					}
					a {
						text-decoration: none;
						color: white;
						opacity: 0.5;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	aside {
		float: left;
		width: $p1;
		margin: $d;
		> ul {
			list-style-type: none;
			> li {
   				@include margin(15px, 0, 15px, 0);
				padding: $c;
				border: 1px solid black;
				border-radius: $a;
				h2 {
					font-size: 1.1em;
					font-weight: bold;
				}
				p {
   					@include margin($b, $a, $b, $a);
					font-size: 14px;
					a {
						color: #aaaaaa;
						text-decoration: none;
					}
					strong {
						@include font(#cccccc, bold, normal);
					}
					em {
						@include font(#cccccc, normal, italic);
					}
				}
				ul {
					list-style-type: none;
					@include margin($b, 0, $b, 0);
					li {
						@include margin($a, 0, 0, $b);
						background: url(../images/li-dot.png) no-repeat;
						background-position: 0 $p2;
						padding-left: $e;
					}
				}
			}
		}
	}
	footer {
		clear: both;
		@include padding($c, 0, $e, 0);
		p {
			text-align: center;
			font-size: 1.2em;
			font-weight: bold;
		}
	}
}